---
#
# A:Platform64 / Ansible playbook settings / Site: {{ auto_ansible_control_site }}
#
db_servers_apps:
  mariadb_server: false
  mariadb_client: false
  mysql_server: false
  mysql_client: false
  postgresql_server: false
  postgresql_client: false
...
